<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<!-- UTF-8 -->
<meta http-equiv="Content-Type" content="text/html" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta charset="utf-8" />
<meta name="description" content="Lista Vip Alura" />
<meta name="author" content="@Alura" />
<!-- CONTROLE DE CACHE -->
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta Http-Equiv="Expires" content="0" />
<!-- FAVICON -->
<link rel="shortcut icon" href="/resources/static/image/favicon.png"
	th:href="@{/images/favicon.png}" />
	
<link rel="stylesheet" type="text/css"
	th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap-select.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery-bootstrap-datepicker.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/dataTables.bootstrap.css}" />


</head>
